<!-- ###LIST_MAIN### begin -->

	###BROWSERESULTS###
	###BROWSELINKS###
	###ITEMS###
	###BROWSELINKS###

<!-- ###LIST_MAIN### end -->

<!-- ###LIST_ROW### begin -->

	<table class="tx-damdownloads-pi1-list">
		<tr>
			###ITEMS###
		</tr>
	</table>

<!-- ###LIST_ROW### end -->

<!-- ###LIST_ITEM### begin -->
				<td>
					###DOC###<br />
					###TITLE###<br />
					Datum: ###CRDATE###<br />
					Datei-Format: ###FILE_TYPE###<br />
					Datei-Gr&ouml;sse: ###FILE_SIZE###<br />
					<!--###LINK_DETAIL###-->Detail<!--###LINK_DETAIL###--><br />
					<!--###LINK_SAVE###-->Filecollection<!--###LINK_SAVE###--><br />
					###DESCRIPTION###<br />
					###ABSTRACT###<br />
					###SEARCH_CONTENT###<br />
					###LANGUAGE###<br />
					###COPYRIGHT###<br />
					###FILE_NAME###<br />
					###FILE_PATH###<br />
					###FILE_SIZE###<br />
					###FILE_DL_NAME###<br />
					###CREATOR###<br />
					###HPIXELS###<br />
					###VPIXELS###<br />
					###TSTAMP###<br />
					###FILE_CTIME###<br />
					###CATEGORIES###
				</td>
<!-- ###LIST_ITEM### end -->

<!-- ###LIST_ITEM_NOIMG### begin -->
				<td>
					###DOC###<br />
					###TITLE###<br />
					Datum: ###CRDATE###<br />
					Datei-Format: ###FILE_TYPE###<br />
					Datei-Gr&ouml;sse: ###FILE_SIZE###<br />
					<!--###LINK_DETAIL###-->Detail<!--###LINK_DETAIL###--><br /><br />
					<!--###LINK_SAVE###-->Filecollection<!--###LINK_SAVE###--><br />
					###DESCRIPTION###<br />
					###ABSTRACT###<br />
					###SEARCH_CONTENT###<br />
					###LANGUAGE###<br />
					###COPYRIGHT###<br />
					###FILE_NAME###<br />
					###FILE_PATH###<br />
					###FILE_SIZE###<br />
					###FILE_DL_NAME###<br />
					###CREATOR###<br />
					###HPIXELS###<br />
					###VPIXELS###<br />
					###TSTAMP###<br />
					###FILE_CTIME###<br />
					###CATEGORIES###
				</td>
<!-- ###LIST_ITEM_NOIMG### end -->

<!-- ###DETAIL_ITEM### begin -->
		<table class="tx-damdownloads-pi1-detail">
			<tr>
				<td>
					###DOC###<br />
					###TITLE###<br />
					Datum: ###CRDATE###<br />
					Datei-Format: ###FILE_TYPE###<br />
					Datei-Gr&ouml;sse: ###FILE_SIZE###<br />
					<!--###LINK_DETAIL###-->Detail<!--###LINK_DETAIL###--><br /><br />
					<!--###LINK_SAVE###-->Filecollection<!--###LINK_SAVE###--><br />
					###DESCRIPTION###<br />
					###ABSTRACT###<br />
					###SEARCH_CONTENT###<br />
					###LANGUAGE###<br />
					###COPYRIGHT###<br />
					###FILE_NAME###<br />
					###FILE_PATH###<br />
					###FILE_SIZE###<br />
					###FILE_DL_NAME###<br />
					###CREATOR###<br />
					###HPIXELS###<br />
					###VPIXELS###<br />
					###TSTAMP###<br />
					###FILE_CTIME###<br />
					###CATEGORIES###<br />
					<!--###LINK_DL_FILE###-->Download<!--###LINK_DL_FILE###--><br />
					<!--###LINK_GALLERY###-->back<!--###LINK_GALLERY###--><br />
				</td>
			</tr>
		</table>
<!-- ###DETAIL_ITEM### end -->

<!-- ###DETAIL_ITEM_NOIMG### begin -->
		<table class="tx-damdownloads-pi1-detail">
			<tr>
				<td>
					###DOC###<br />
					###TITLE###<br />
					Datum: ###CRDATE###<br />
					Datei-Format: ###FILE_TYPE###<br />
					Datei-Gr&ouml;sse: ###FILE_SIZE###<br />
					<!--###LINK_DETAIL###-->Detail<!--###LINK_DETAIL###--><br /><br />
					<!--###LINK_SAVE###-->Filecollection<!--###LINK_SAVE###--><br />
					###DESCRIPTION###<br />
					###ABSTRACT###<br />
					###SEARCH_CONTENT###<br />
					###LANGUAGE###<br />
					###COPYRIGHT###<br />
					###FILE_NAME###<br />
					###FILE_PATH###<br />
					###FILE_SIZE###<br />
					###FILE_DL_NAME###<br />
					###CREATOR###<br />
					###HPIXELS###<br />
					###VPIXELS###<br />
					###TSTAMP###<br />
					###FILE_CTIME###<br />
					###CATEGORIES###<br />
					<!--###LINK_DL_FILE###-->Download<!--###LINK_DL_FILE###--><br />
					<!--###LINK_GALLERY###-->back<!--###LINK_GALLERY###--><br />
				</td>
			</tr>
		</table>
<!-- ###DETAIL_ITEM_NOIMG### end -->

<!-- ###SEARCH### begin -->
		<form action="###FORM_URL###" method="POST">
			<table class="tx-damdownloads-pi1-search">
				<tr>
					<td>
						<!-- ###CATEGORIES### begin -->Suchkategorie: <select name="tx_damdownloads_pi1[cat]">###OPTIONS###</select><!-- ###CATEGORIES### end -->
					</td>
					<td>
						Suchbegriff: <input type="text" value="###SWORDS###" name="tx_damdownloads_pi1[swords]" class="input" />
					</td>
					<td>
						<input type="submit" value="Suche" />
					</td>
				</tr>
			</table>
		</form>
<!-- ###SEARCH### end -->

<!-- ###COLLECT_MAIN### begin -->

	###BROWSERESULTS###
	###BROWSELINKS###
	###ITEMS###
	###BROWSELINKS###
	<!--###DOWNLOAD_ZIP###-->Download<!--###DOWNLOAD_ZIP###-->

<!-- ###COLLECT_MAIN### end -->

<!-- ###COLLECT_ROW### begin -->

	<table class="tx-damdownloads-pi1-collect">
		<tr>
			###ITEMS###
		</tr>
	</table>

<!-- ###COLLECT_ROW### end -->

<!-- ###COLLECT_ITEM### begin -->
				<td>
					###DOC###
				</td>
				<td>
					###TITLE###<br />
					Datum: ###CRDATE###<br />
					Datei-Format: ###FILE_TYPE###<br />
					Datei-Gr&ouml;sse: ###FILE_SIZE###<br />
					<!--###LINK_DETAIL###--><img src="typo3conf/ext/dam_downloads/img/detail.jpg" border="0" />Detail<!--###LINK_DETAIL###--><br /><br />
					<!--###LINK_DELETE###-->remove from Filecollection<!--###LINK_DELETE###-->
				</td>
<!-- ###COLLECT_ITEM### end -->

<!-- ###COLLECT_ITEM_NOIMG### begin -->
				<td>
					###DOC###
				</td>
				<td>
					###TITLE###<br />
					Datum: ###CRDATE###<br />
					Datei-Format: ###FILE_TYPE###<br />
					Datei-Gr&ouml;sse: ###FILE_SIZE###<br />
					<!--###LINK_DETAIL###--><img src="typo3conf/ext/dam_downloads/img/detail.jpg" border="0" />Detail<!--###LINK_DETAIL###--><br /><br />
					<!--###LINK_DELETE###-->remove from Filecollection<!--###LINK_DELETE###-->
				</td>
<!-- ###COLLECT_ITEM_NOIMG### end -->